{
  "version": 6,
  "configurePresets": [
    {
      "name": "local-clang-debug",
      "inherits": ["cpu-only-debug"],
      "cacheVariables": {
        "CMAKE_CXX_COMPILER": "/usr/bin/clang++",
        "COSMOSIM_ENABLE_PYTHON": "ON"
      }
    }
  ]
}
